venv/
__pycache__/

videos/
filtered_videos/
wlasl_processed/
processed_data/
landmark_sequences/
archive/

Dataset/
sign_dataset/

ngrok-v3-stable-windows-amd64/

*.mp4
*.png
*.jpg
*.jpeg
*.h5
*.hdf5
*.pkl
*.npy
*.exe